// Colores
$colorTextoTienda: #0D5102;
$colorTextoPrincipal: floralwhite;
$colorTextoSecundario: #051922;
$fondoColor: #0D5102;
$fondoColorCards: floralwhite;
$fondoColorForm: floralwhite;
$fondoColorFormHover: rgb(60, 150, 60);
$fondoColorTitulo: floralwhite;